.videoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}

.videoControlBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.showing {
  opacity: 1;
}

.time {
  width: 100%;
}

.videoControlBoxSec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.videoControls {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 3px;
  }
}
.subBoxFir {
  button {
    all: unset;
    margin: 10px;
  }
  display: flex;
  justify-content: center;
  text-align: center;
}

.subBoxSec {
  button {
    all: unset;
    margin: 10px;
  }
}

.volume {
  margin-right: 10px;
}
