.videoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  video {
    width: 100%;
  }
}

.videoControlBox {
  box-sizing: border-box;
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  .videoControlBoxFir {
    width: 100%;
  }
}
.showing {
  opacity: 1;
}

.time {
  width: 100%;
}

.videoControlBoxSec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.videoControls {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 3px;
  }
}
.subBoxFir {
  button {
    all: unset;
    margin: 10px;
  }
  display: flex;
  justify-content: center;
  text-align: center;
}

.subBoxSec {
  button {
    all: unset;
    margin: 10px;
  }
}

.volume {
  margin-right: 10px;
}
