extends base.pug

block content  
 if errormessage 
    h3=errormessage
 form(method="POST")
        input(name="oldPassword", placeholder="Old Password", required, type="password", value="" )
        input(name="newPassword", placeholder="New Password", required, type="password", value="" )
        input(name="newPassword2", placeholder="New Password Confirm", required, type="password", value="" )
        input(type="submit", value="Change Password")