extends base.pug

block content   
     form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", placeholder="Name", required, type="text", value=loggedInUser.name )
        input(name="email", placeholder="Email", required, type="email", value=loggedInUser.email )
        input(name="username", placeholder="Username", required, type="text", value=loggedInUser.username )
        input(name="location", placeholder="Location", type="text", value=loggedInUser.location )
        input(value="Upload" type="submit")
     if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;