extends base.pug

block content   
    h1 Change the Video name
    form(method="POST")
        input(name="title", placeholder="Video name", required, value=`${video.title}` )
        input(value="Save", type="submit")