extends base
include mixins/video

block content   
    h1 Hello this is Home
    ul 
        each potato in videos 
            +video(potato)
                    
        else 
            li Sorry nothing found.