extends base.pug


block content 
        h1 Upload here
        form(method="POST")
            input(placeholder="Title", required, type="text", name="title")
            input(value="Upload" type="submit")